# Temporary Files
*#
*~

# LaTeX
*.aux
*.bcf
*.log
*.nav
*.out
*.pdf
*.run.xml
*.snm
*.toc
*.vrb
*.pdf
*.bbl
*.blg
*.fdb_latexmk
*.fls
*-blx.bib
*.xdv
*.awk
*.bat
*.synctex.gz
*.synctex(busy)
*.bak*
vc.tex
output
!fau_tech.pdf
!i6_icon.pdf
!i6_logo.pdf
!fau-logo.pdf
!fau-logo-white.pdf
*.bbl-SAVE-ERROR

# IDEs
.idea
.vscode
*.cut

# Python
.venv
.cache
.ipynb_checkpoints
.config
.local
.jupyter
.ipython
.npm
__pycache__

# Other files
*.db
*.cspell/

# MacOS
.DS_Store
