[submodule "submission/1-Frequent-Patterns/Code-Skeleton"]
	path = submission/1-Frequent-Patterns/Code-Skeleton
	url = git@github.com:FAU-CS6-KDDmUe-Submissions/1-Frequent-Patterns.git
[submodule "submission/1-Frequent-Patterns/Solution"]
	path = submission/1-Frequent-Patterns/Solution
	url = git@github.com:FAU-CS6-KDDmUe-Submissions/1-Frequent-Patterns-Solution.git
[submodule "submission/2-Classification/Solution"]
	path = submission/2-Classification/Solution
	url = git@github.com:FAU-CS6-KDDmUe-Submissions/2-Classification-Solution.git
[submodule "submission/2-Classification/Code-Skeleton"]
	path = submission/2-Classification/Code-Skeleton
	url = git@github.com:FAU-CS6-KDDmUe-Submissions/2-Classification.git
