on: [push]

jobs:
  pre_commit_validation:
    name: Validate that the pre-commit hooks have run
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2

      - name: Run the hooks again to validate they have run
        uses: xu-cheng/texlive-action/full@v1
        with:
          run: |
            ls -a
            apk add --no-cache python3 py3-pip git
            pip3 install pre-commit
            pre-commit run --all-files
