on: [push]

jobs:
  pre_commit_validation:
    name: Validate that the pre-commit hooks have run
    id: validate-commit
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2

      - name: Run the hooks again to validate they have run
        uses: xu-cheng/texlive-action/full@v1
        with:
          run: |
            apk add --no-cache python3 py3-pip git nodejs npm
            pip3 install pre-commit
            if pre-commit run --all-files | grep "exit code: 1" || true;
            then
              echo "Pre-commit run did not run on local machine."
              exit 1
            else
              echo "Pre-commit did run on local machine."
            fi

  call_build_pdfs:
    needs: [validate-commit]
    if: contains(needs.*.result, 'success')
    uses:  FAU-CS6/KDD/.github/workflows/build_pdfs.yml@a5dce91e44d70307a496191ca7bd28a64190f333
